<div *ngIf="workExperiences.viewExperiences">
  <div id="experience">
      <div class="experience-container" id="workExperience">
        <div>
          <h1 class="experience-heading">Certifications</h1>
          <div class="experience-cards-div">
            <app-experience-card  *ngFor="let card of workExperiences.experience2" [experience]="card"></app-experience-card>
          </div>
          <div class="experience-cards-div">
            <app-experience-card  *ngFor="let card of workExperiences.experience" [experience]="card"></app-experience-card>
          </div>
          <div class="experience-cards-div">
            <app-experience-card  *ngFor="let card of workExperiences.experience5" [experience]="card"></app-experience-card>
          </div>
          <div class="experience-cards-div">
            <app-experience-card  *ngFor="let card of workExperiences.experience3" [experience]="card"></app-experience-card>
          </div>
          <div class="experience-cards-div">
            <app-experience-card  *ngFor="let card of workExperiences.experience4" [experience]="card"></app-experience-card>
          </div>
        </div>
      </div>
  </div>
</div>
















<!-- 
<div *ngIf="workExperiences.viewExperiences">
    <div id="experience">
        <div class="experience-container" id="workExperience">
          <div>
            <h1 class="experience-heading">My Certifications</h1>
            <div>
              <div class="column">
                <img src="../../assets/images/certifications/DataScience.png" alt="">
                <img src="../../assets/images/certifications/DataGoogle.png" alt="">
                <img src="../../assets/images/certifications/machinelearningIBM.png" alt="">            
              </div>
              <div class="column2">
                <img src="../../assets/images/certifications/Big_Data_Engineer.png" alt="">
                <img src="../../assets/images/certifications/IoT.png" alt="">         
              </div>
              <div class="column2">
                <img src="../../assets/images/certifications/PowerBI.png" alt="">
                <img src="../../assets/images/certifications/Python.png" alt="">         
              </div>
              <div class="column2">
                <img src="../../assets/images/certifications/Intermediate Machine Learning.png" alt="">
                <img src="../../assets/images/certifications/PythonKaggle.png" alt="">
              </div>
          </div>
          </div>
        </div>
    </div>
  </div>
  
   -->